# Week 4 Peer Review

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [14]:
# Import the required packages
using Distributions, DataFrames, Random

In [15]:
# Seed the random number generator
Random.seed!(1234);

In [16]:
# Create a dataframe named df1 with 30 rows and 4 columns. 
# Call the first column ID It should hold the values 1 through 30 (to make up 30 rows).
df1 = DataFrame(ID = 1:30)

# The second column (var1) should consist of 30 values from a standard normal distribution (mean of 0 and standard deviation of 1). 
# The third column (var2) should consist of 30 random value from a normal distribution with a mean of 10 and a standard deviation of 2. 
# The last column (var3) should contain 30 random values chosen from a range of integers between (and including) 5 and 15.
df1.var1 = rand(Normal(0, 1), 30); df1.var2 = rand(Normal(10, 2), 30); df1.var3 = rand(5:15, 30)
df1

30×4 DataFrame
 Row │ ID     var1        var2      var3
     │ Int64  Float64     Float64   Int64
─────┼────────────────────────────────────
   1 │     1   0.970656    9.51886     15
   2 │     2  -0.979218   11.8855       5
   3 │     3   0.901861    9.98017      8
   4 │     4  -0.0328031   9.52561     14
   5 │     5  -0.600792    9.53191     13
   6 │     6  -1.44518    12.4164      15
   7 │     7   2.70742    12.6243      10
   8 │     8   1.52445    10.8328       7
  ⋮  │   ⋮        ⋮          ⋮        ⋮
  24 │    24  -1.07363     8.77153      9
  25 │    25  -0.20563     9.8097       5
  26 │    26   0.770703   11.4664      13
  27 │    27  -1.21394    12.0017       7
  28 │    28   1.0915     10.2362      12
  29 │    29   1.22004     8.66158     11
  30 │    30  -0.0758316   6.25678      7
                           15 rows omitted

In [17]:
# Question 2: Calculate mean and variance of each column of df1
mean_var_df1 = combine(df1, :var1 => mean, :var1 => var, :var2 => mean, :var2 => var, :var3 => mean, :var3 => var)

1×6 DataFrame
 Row │ var1_mean  var1_var  var2_mean  var2_var  var3_mean  var3_var
     │ Float64    Float64   Float64    Float64   Float64    Float64
─────┼───────────────────────────────────────────────────────────────
   1 │ 0.0804175   1.25505    9.93283   3.54809       10.5   9.56897

In [18]:
# Question 3: Create a new dataframe named df2 from the last 20 rows of df1
df2 = df1[11:30, :]

20×4 DataFrame
 Row │ ID     var1        var2      var3
     │ Int64  Float64     Float64   Int64
─────┼────────────────────────────────────
   1 │    11   0.705993   12.9557      14
   2 │    12   1.09156     9.89455      8
   3 │    13   0.871498   10.469       13
   4 │    14   0.0856911   9.97559      9
   5 │    15   0.960079    8.75859      8
   6 │    16   0.907837   12.8672      13
   7 │    17  -1.46506     7.25092      6
   8 │    18  -0.215859   11.8022      10
  ⋮  │   ⋮        ⋮          ⋮        ⋮
  14 │    24  -1.07363     8.77153      9
  15 │    25  -0.20563     9.8097       5
  16 │    26   0.770703   11.4664      13
  17 │    27  -1.21394    12.0017       7
  18 │    28   1.0915     10.2362      12
  19 │    29   1.22004     8.66158     11
  20 │    30  -0.0758316   6.25678      7
                            5 rows omitted

In [19]:
# Question 4: Calculate a simple descriptive statistics on df2 using the describe() function
describe(df2)

4×7 DataFrame
 Row │ variable  mean       min       median     max       nmissing  eltype
     │ Symbol    Float64    Real      Float64    Real      Int64     DataType
─────┼────────────────────────────────────────────────────────────────────────
   1 │ ID        20.5       11        20.5       30               0  Int64
   2 │ var1      -0.025612  -1.83851   0.117026   1.22004         0  Float64
   3 │ var2       9.54231    6.25678   9.4569    12.9557          0  Float64
   4 │ var3      10.05       5        10.0       15               0  Int64

In [20]:
# Question 5: Add a column named cat1 to df2 consisting of a random selection of 20 values from the sample space "GroupA" and "GroupB"
df2.cat1 = rand(["GroupA", "GroupB"], 20)

20-element Vector{String}:
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"

In [21]:
# Question 6: Create a new dataframe df3 with columns named "id", "var4" and "var5" such that id contains the values 11 through 30, var4 contains the values 21 through 40 and var5 contains the values 41 through 60.
df3 = DataFrame(ID = 11:30, var4 = 21:40, var5 = 41:60)

20×3 DataFrame
 Row │ ID     var4   var5
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    11     21     41
   2 │    12     22     42
   3 │    13     23     43
   4 │    14     24     44
   5 │    15     25     45
   6 │    16     26     46
   7 │    17     27     47
   8 │    18     28     48
  ⋮  │   ⋮      ⋮      ⋮
  14 │    24     34     54
  15 │    25     35     55
  16 │    26     36     56
  17 │    27     37     57
  18 │    28     38     58
  19 │    29     39     59
  20 │    30     40     60
             5 rows omitted

In [22]:
# Question 7: Join df2 and df3 on the ID column and save the results as a new dataframe named df4 (hint: you can use innerjoin).
df4 = innerjoin(df2, df3, on = :ID)

20×7 DataFrame
 Row │ ID     var1        var2      var3   cat1    var4   var5
     │ Int64  Float64     Float64   Int64  String  Int64  Int64
─────┼──────────────────────────────────────────────────────────
   1 │    11   0.705993   12.9557      14  GroupB     21     41
   2 │    12   1.09156     9.89455      8  GroupB     22     42
   3 │    13   0.871498   10.469       13  GroupA     23     43
   4 │    14   0.0856911   9.97559      9  GroupA     24     44
   5 │    15   0.960079    8.75859      8  GroupA     25     45
   6 │    16   0.907837   12.8672      13  GroupA     26     46
   7 │    17  -1.46506     7.25092      6  GroupA     27     47
   8 │    18  -0.215859   11.8022      10  GroupB     28     48
  ⋮  │   ⋮        ⋮          ⋮        ⋮      ⋮       ⋮      ⋮
  14 │    24  -1.07363     8.77153      9  GroupB     34     54
  15 │    25  -0.20563     9.8097       5  GroupA     35     55
  16 │    26   0.770703   11.4664      13  GroupB     36     56
  17 │    27  -1.21394    12.0017       7  GroupA     37     57
  18 │    28   1.0915     10.2362      12  GroupB     38     58
  19 │    29   1.22004     8.66158     11  GroupB     39     59
  20 │    30  -0.0758316   6.25678      7  GroupA     40     60
                                                  5 rows omitted